*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html p{
    font-size: 20px;
}

nav{
    background-color: blue;
    height: 9vh;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}

nav li{
    display: inline-block;
    list-style: none;
}

li.menu{
    margin:20px 1%;
}

nav a{
    text-decoration: none;
}

li.accedi{
    float: right;
    background-color: white;
    border-radius: 20px;
    color:black;
    margin:10px 0;
    margin-right: 10%;
    padding:10px;
}
li.logo{
    float:left;
    padding-top: 15px;
    padding-left:10%;
}

header section{
    color:white
}

header section a{
    color: white;
}

.sezione1 h2{
    font-size:50px;
}
.sezione1 h2{
    line-height: 2;
}

.sezione1{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sezione1 .testo{
    text-align: center;
    width: 650px;
}


button{
    border-radius: 40px;
    padding: 15px 25px;
    border: none;
    margin: 20px 8px;
    font-size: 20px;
}

.sezione1 button.scarica{
    background-color:white;
    color:black;
    font-weight: bolder;
}
.sezione1 button.apridiscord{
    background-color:rgb(59, 59, 59);
    color:rgb(255, 255, 255);
    font-weight: bolder;
}


.sezione2 h2,
.sezione4 h2{
    font-size:49px;
}
.sezione2 h2,
.sezione4 h2{
    line-height: 1;
}

.sezione2,
.sezione4{
    height: 100vh;
    position: relative;
}
.sezione2 .immagine,
.sezione4 .immagine{
   /* background-color: red;*/
    width: 60%;
    overflow: hidden;
    float:left;
    height: 100%;
    position: relative;
}

.sezione2 img,
.sezione4 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sezione2 .testo,
.sezione4 .testo{
   /* background-color: royalblue;*/
    width: 26%;
    position: absolute;
    right:0;
    top:20%;
    height: 80%;
    margin:0 7%;
    overflow: auto;
}

/* ----- SEZIONE 3 ----- */

.sezione3 h2{
    font-size:49px;
}
.sezione3 h2{
    line-height: 1;
}

.sezione3{
    height: 100vh;
    position: relative;
    background-color: whitesmoke;
}
.sezione3 .immagine{
   /* background-color: red;*/
    width: 60%;
    overflow: hidden;
    float:right;
    height: 100%;
    position: relative;
}

.sezione3 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sezione3 .testo{
   /* background-color: royalblue;*/
    width: 26%;
    position: absolute;
    left:0;
    top:20%;
    height: 80%;
    margin:0 7%;
    overflow: auto;
}

/* ----- SEZIONE 5 ----- */

.sezione5 h2{
    font-size:49px;
}
.sezione5 h2{
    line-height: 1;
}

.sezione5{
    height: 100vh;
    position: relative;
    background-color: whitesmoke;
}
.sezione5 .immagine{
   /* background-color: red;*/
    height:50%;
    width: 100%;
    top:25%;
    overflow: hidden;
    position: relative;
}

.sezione5 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sezione5 .testo{
    /* background-color: royalblue;*/
     height: 20%;
     width: 80%;
     position: absolute;
     left:10%;
     bottom:80%;
     text-align: center;
     /*margin:0 7%;*/
     overflow: auto;
 }

 .sezione5 .testo2{
    /* background-color: royalblue;*/
     height: 20%;
     width: 100%;
     position: absolute;
     left:0;
     bottom:0%;
     text-align: center;
     /*margin:0 7%;*/
     /*overflow: auto;*/
 }

 .sezione5 button{
     background-color: rgb(32, 163, 214);
     color: white;
 }
 

/*immagine il tuo posto per parlare, largo uguale
sembra una cover, centrato fisso, menu centrato in alto
logo: vertical align, line height,
hover su accedi
quasi tutti i bottoni il testo diventa blu con hover.

nell' header testo : bianco
tutti i titoli sono h1/h2 uguali, colore testo uguale dal main in giù
nel footer testo:bianco, titolo link a tendina:blu
<!-- i font p di tutte le sezioni sono dello stesso font -->

3 sezioni 100vh
1 sezione 10vh 40vh 50vh
2 sezione 50vh 50vh
3 sezione 100 vh
footer circa 50vh
*/